.navbar {
	display: flex;
	flex-direction: column;
	min-block-size: inherit;
	inline-size: fit-content;
	background: var(--white);
}

label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.75rem;
	padding: 0.75rem;
	font-size: 1.5rem;
	background: transparent;
	cursor: pointer;
}

label * {
	pointer-events: none;
}

label button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	border: none;
}

input {
	display: none
}

input:checked ~ .navbar__items {
	inline-size: 228px;
}

input:checked ~ .navbar__items .category {
	display: block;
}

input:checked ~ .navbar__items .navbar__link span {
	display: block;
}

input:checked ~ label .brand {
	display: flex;
}

.navbar__items {
	display: flex;
	flex-direction: column;
	padding: 0;
	padding-inline-end: 0.5rem;
	margin: 0;
}

.navbar__item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	inline-size: 100%;
	padding-block: 0.75rem;
	padding-inline-start: 1.25rem;
	font-size: 1.5rem;
	cursor: pointer;
}

.navbar__item:hover {
	background: #C5DCFA;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.navbar__item:hover .navbar__link span {
	color: var(--primary);
}


.navbar__link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
	text-decoration: none;
	color: var(--black);
}

.navbar__link span {
	font: var(--mobile-body1medium);
	color: var(--grey);
	display: none;
}

.navbar__item--active {
	background: #C5DCFA;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.navbar__link--active span {
	color: var(--primary);
}